name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: '40 4 * * *'   # every day at 4:40

jobs:
  test:
    name: "Test"

    strategy:
      matrix:
        platform: [
          ubuntu-latest,
          macos-latest,
          windows-latest
        ]

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 15

    steps:
    - name: "Checkout Repository"
      uses: actions/checkout@v1

    - name: "Print Rust Version"
      run: |
        rustc -Vv
        cargo -Vv

    - name: "Run cargo build (x86) [nightly]"
      run: |
        rustup toolchain add nightly-2023-07-09
        rustup component add rust-src --toolchain nightly-2023-07-09-x86_64-unknown-linux-gnu
        cargo +nightly-2023-07-09 build --target test/x86-unknown-none.json -Z build-std=core,alloc,compiler_builtins -Z build-std-features=compiler-builtins-mem

    - name: "Run cargo build (x86_64)"
      run: |
        rustup target add x86_64-unknown-none
        cargo build --target x86_64-unknown-none

    - name: "Run cargo build (aarch64)"
      run: |
        rustup target add aarch64-unknown-none
        cargo build --target aarch64-unknown-none

    - name: "Run cargo test"
      run: cargo test

    - name: "Run cargo build for stable"
      run: cargo build --no-default-features --features stable
      if: runner.os != 'Windows'

    - name: "Run cargo test for stable"
      run: cargo test --no-default-features --features stable
      if: runner.os != 'Windows'

    - name: "Run cargo doc"
      run: cargo doc

    - name: 'Deny Warnings'
      run: cargo rustc -- -D warnings

  check_formatting:
    name: "Check Formatting"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - uses: actions/checkout@v1
    - run: rustup toolchain install nightly --profile minimal --component rustfmt
    - run: cargo +nightly fmt -- --check
